# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
env/

# DB config
config/db_config.yml

.DS_Store

logs/*
clustering/experiments/*
data/*
clustering/data/*
config/*